/* Full container color*/
body{
    background-color: #ffffff;
}
.reduce-size{
    max-width: 350px;
}
/* right-side image section*/
.side-pix{
    margin-left: 100px;
    
}

h4 {
    display: flex;
    flex-direction: row;
}
  /* Horizontal line section*/
h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
}
@media(min-width:600px) {
    body{
        flex-wrap:nowrap;
    }
    div{
        flex-basis: 33%;
    }
}